$def with (map, max, term)
<html>
<head>
<title>CVRanalytics - Mapeo del término $term</title>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Mapeo del término "$term"</h1>
            <p>Genera un conteo de la frecuencia con la que aparece el término seleccionado a través de los años en la sección Cronología de los eventos, incluida en los apéndices del Informe Final.</p>
            <p><a href="/">Volver a la página principal</a></p>
        </div>
    </div>
    <div class="row">
        <div class="span8 offset2">
        $if map is not False:
            <p>Generando mapeo para el término "$term":</p>
            $for key, value in map.iteritems():
                <table class="table table-condensed" style="width: 100%">
                <tr>
                    <td style="width: 10%">$key</td>
                    <td style="width: 90%">
                        <div class="progress">
                            <div class="bar" style="width: ${value*100/max}%">$value</div>
                        </div>
                    </td>
                </tr>
                </table>
        $else:
            <p>El término no aparece en la cronología.</p>
        </div>
    </div>
</div>
</body>
</html>