{% extends "base.html" %}
{% block title %}Conclusiones - {{ conclusion.id }}{% endblock title %}
{% block content %}
<div class="row">
    <div class="span2">
        <ul class="pager" style="margin-top: 60%">
          <li class="previous">
            <a href="/conclusion/{{ conclusion.id - 1 }}">&larr; Anterior</a>
          </li>
        </ul>
    </div>
    <div class="span8">
        <h1>{{ conclusion.id }}.</h1>
        <p class="lead">{{ conclusion.text }}</p>
    </div>
    <div class="span2">
        <ul class="pager" style="margin-top: 60%">
          <li class="next">
            <a href="/conclusion/{{ conclusion.id + 1 }}">Siguiente &rarr;</a>
          </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="span8 offset2">
        <h4>Etiquetas</h4>
        {% for tag in conclusion.tags %}
            <span class="label label-info">{{ tag }}</span>
        {% endfor %}
    </div>
</div>
{% endblock content %}