$def with (form)
<html>
<head>
    <title>CVRanalytics</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="hero-unit">
        <h1>CVRanalytics</h1>
        <p>Herramientas para el análisis computacional del Informe Final de la Comisión de la Verdad y la Reconciliación en Perú</p>
    </div>
    <div class="row">
        <div class="span4">
            <h2>Mapeo de términos</h2>
            <p>Genera un mapa de la frecuencia con la que aparece un término específico a través de los años en la Cronología de eventos incluída en los apéndices del informe.</p>
            <p>Los siguientes enlaces son ejemplos de posibles mapas de términos. Para generar uno para un término diferente, simplemente reemplaza el término en la URL generada.</p>
            <ul>
                <li><a href="wordmap/PCP-SL">PCP-SL</a></li>
                <li><a href="wordmap/MRTA">MRTA</a></li>
            </ul>
            <form action="/wordmap/" method="GET">
                $:form.render()
                <input type="submit" />
            </form>
            </div>
        <!--
        <div class="span4">
            <h2>Event Counts</h2>
        </div>
        -->
    </div>
    
</div>

</body>
</html>
